<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="2" align="center">
    <tr>
        <td><input type="text" placeholder="name" name="f1" required></td>
        <td><input type="text" placeholder="father name" name="f2" required></td>
        <td><input type="text" placeholder="designantion" name="f3" required></td>
        <td><input type="text" placeholder="reasearch interest" name="f4" required></td>
        <td><input type="number" placeholder="experiance" name="f5" required></td>
        <td><input type="date" placeholder="dob" name="f6" required></td>
        <td><input type="submit" value="register"></td>
    </tr>
</table>
</body>
</html>